{
  "presets": ["env"],
  "env": {
    "production": {
      "presets": [
        ["env", {
          "modules": false,
          "targets": {
            "browsers": ["last 2 versions"]
          }
        }]
      ]
    }
  }
}
